/************************************
 *
 *          header 
 *
 ***********************************/

.cover_img img {
    z-index: -2;
    position: relative;
}

.cover_img {
    background: rgba(119, 119, 119, 0.66);
    position: relative;
    
}

.hire_me_button_area {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 100%;
}
.hire_me_button_area button {
    width: 100%;
}


/************************************
 *
 *          nav
 *
 ***********************************/
.navbar {
    margin-bottom: 0;
}


/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-5px, 4px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-5px, -4px) ;
}



