@media screen and (min-width: 992px) {
    
    
    
    /************************************
    *
    *          header
    *
    ***********************************/
    
    .hire_me_button_area {
        margin-bottom: 40px;
    }
    
    
    /************************************
    *
    *          intro area
    *
    ***********************************/
   
   .intro-statement {
           width: 65%;
           margin: 110px 17.5%;
   }
   
   
   /************************************
    *
    *          awards 
    *
    ***********************************/
   .awards_img {
       width: 90%;
       margin: 30% 0 30px 15%;
   }
    
    
}