@media screen and (min-width: 992px) {
    
    
    
    /************************************
    *
    *          header
    *
    ***********************************/
    
    .hire_me_button_area {
        margin-bottom: 40px;
    }
    
    
    /************************************
    *
    *          education
    *
    ***********************************/
   
   .education .intro-statement {
           width: 65%;
           margin: 110px 17.5%;
   }
    
    
}