@media screen and (min-width: 768px) {
    
    
    /************************************
    *
    *          header
    *
    ***********************************/
    .hire_me_button_area {
        margin-bottom: 30px;
    }
    
    
    /************************************
    *
    *          education
    *
    ***********************************/
   
   .education .intro-statement {
           width: 70%;
           margin: 80px 15%;
   }

    
    
}